h1{
  font-family: Open Sans, monospace;
}

.header{
  padding: 5px;
  padding-left: 20px; 
  margin-left: -10px;
  margin-top: -10px;
  width: 110%;
  background: #2c3e50;
  color: white;
  font-size: 30px;
  font-family: Major Mono Display;
}

body{
  background: #08131f;
}

.folder{
  color: white;
  background: #2c3e50;
  box-shadow: 3px 3px 5px 6px #040f19;
  margin: auto;
  margin-top: 100px;
  width: 85%;
  height: 500px;
  padding: 50px;
}

.pure_table{
  padding: 10px;
}